* {
    margin: 0;
    padding: 0;
}

body{
    background-color: #5484DC;
}
.container {
    @media(max-width: 426px){
        width: 400px;
    }
    width: 1282px;
    margin: 0 auto;
    position: relative;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.header {
    
    height: 74px;

    &__box {
        display: flex;
        align-items: center;
        border-bottom: 1px solid #fff;
    }

    &__nav {
        @media(max-width: 426px){
            display: none;
        }
        display: flex;
        

        &_text {
            display: flex;
            gap: 52px;
            margin-left: 29px;
        }

        &_text-btn {
            color: #fff;
        }
    }

    &__contact {
        @media(max-width: 426px){
            display: none;
        }
        display: flex;
        float: right;
        margin-left: 34.5%;
        color: #fff;
    }
    .burger { 
        &__menu { 
            display: none; 
            position: relative; 
            margin-top: 15px; 
            width: 80px; 
            height: 25px; 
            float: right;
            z-index: 1000;
     
            @media (max-width:426px) { 
                display: block;
                margin-left: 59%; 
                margin-top: -1%;
                width: 40px;
            } 
     
            &-items { 
                display: none; 
                position: absolute; 
                top: 50px; 
                right: 0; 
                background-color: #333; 
                border-radius: 4px; 
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
                width: 250px; 
                animation: fadeIn 0.3s ease; 
     
                &.open { 
                    display: block; 
                } 
     
                & a { 
                    display: block; 
                    color: #fff; 
                    text-decoration: none; 
                    padding: 10px 20px; 
                    text-align: center; 
                    transition: background-color 0.3s ease; 
     
                    &:hover { 
                        background-color: #555; 
                        border-radius: 4px; 
                    } 
                } 
            } 
        } 
     
        &__icon { 
            cursor: pointer; 
            padding: 10px; 
            width: 100%; 
            display: flex; 
            flex-direction: column; 
            justify-content: space-around; 
            border-radius: 10px; 
            transition: transform 0.3s ease; 
            &.open { 
                transform: rotate(90deg); 
     
                & .bar:nth-child(1)  { 
                    transform: translateY(10px) rotate(45deg); 
                } 
     
                & .bar:nth-child(2) { 
                    opacity: 0; 
                } 
     
                & .bar:nth-child(3) { 
                    transform: translateY(-10px) rotate(-45deg); 
                } 
            } 
             
        } 
    } 
     
    .bar { 
        width: 100%; 
        height: 4px; 
        margin-bottom: 5px; 
        background-color: #fff; 
        border-radius: 2px; 
        transition: transform 0.3s ease, opacity 0.3s ease; 
     
        &:last-child { 
            margin-bottom: 0; 
        } 
    } 
    @keyframes fadeIn { 
        from { 
            opacity: 0; 
            transform: translateY(-10px); 
        } 
        to { 
            opacity: 1; 
            transform: translateY(0); 
        } 
    }


}
.main{
    @media(max-width: 426px){
        height: 100%;
    }
    height: 981px;
    &_wrap{
        @media(max-width: 426px){
            display: flex;
            flex-direction: column;
        }
    }
    &__title{
        display: flex;
        justify-content: center;
        font-size: 36px;
        font-family: "Rubik Mono One";
        letter-spacing: 14%;
        margin-top: 13px;
        color: #fff;
    }

    &__box{
        
        margin-top: 34px;

        &_wrap{
            @media(max-width: 426px){
                display: flex;
                flex-direction: column;
            }
        }
        &_img{
            @media(max-width: 426px){
                width: 90%;
                margin: 0 auto;
            }
        }
        &_contact{
            @media(max-width: 426px){
                width: 90%;
                margin: 0;
                margin: 0 auto;
                margin-top: 40px;
            }
            margin-left: 97px;
            
            
            &_text{
                display: flex;
                margin-bottom: 20px;
                &_num{
                    display: flex;
                    align-items: center;
                    margin-left: 12px;
                    color: #fff;
                    font-size: 20px;
                    font-family: "Inter", sans-serif;
                    font-weight: 450;
                }
            }
            &_btn{
                @media(max-width: 426px){
                    width: 100%;
                    margin: 0;
                    margin: 0 auto;
                    margin-top: 70px;
                }
                margin-top: 70px;
                &_text{
                    @media(max-width: 426px){
                        width: 100%;
                        margin: 0;
                        margin: 0 auto;
                        margin-bottom: 50px;
                        margin-top: 70px;
                    }
                    padding: 16px 50px;
                    background-color: #fff;
                    border-radius: 20px;
                    color: #1E2B4E;
                    align-items: center;
                    font-size: 20px;
                    font-weight: 400;
                    font-family: "Inter", sans-serif;
                    border: none;
                    cursor: pointer;
                }
            }
        }
        &_map{
            @media(max-width: 426px){
                display: none;
            }
            margin-left: 36%;
            margin-top: -5%;
        }
        &_wrap{
            display: flex;
        }
        
    }
}
.footer{
    @media(max-width: 426px){
        height: 100%;
        text-align: center;
    }
    margin-top: 45px;
    height: 416px;
    background-color: #00244C;
    &__logo{
        margin-top: 23px;
    }
    &__wrap{
        @media(max-width: 426px){
            height: 120%;
            display: grid;
            grid-template-columns: 1fr ;
            gap: 30px;
            align-items: center;
            padding-bottom: 30px;
        }
        display: flex;
        align-items: baseline;
        
        &_firstCollum{
            
            &_title{
                @media(max-width: 426px){
                    font-size: 12px;
                }
                margin-top: 24px;
                font-family: "Inder", sans-serif;
                font-size: 16px;
                font-weight: 300;
                color: #fff;
            }
            &_text{
                @media(max-width: 426px){
                    font-size: 10px;
                    width: 100%;
                }
                font-family: "Inter", sans-serif;
                font-size: 13px;
                font-weight: 300;
                width: 315px;
                line-height: 20px;
                margin-top: 9px;
                color: #fff;
            }
        }
        
        &_collum{
            @media(max-width: 426px){
                margin-left: 0;
            }
            margin-left: 90px;
            
            &_title{
                font-family: "Inter", sans-serif;
                font-size: 16px;
                font-weight: 700;
                color: #fff;
            }
            &_text{
                @media(max-width: 426px){
                    margin-top: 15px;
                }
                opacity: 70%;
                font-family: "Inter", sans-serif;
                font-size: 16px;
                font-weight: 600;
                margin-top: 25px;
                color: #fff;

            }
            &_link{
                color: #fff;
            }

        }
        
    }
}
.modal{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 99999;
    background-color: rgba(0,0,0,.3);
    display: grid;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    visibility: hidden;
    opacity: 0;
    transition: opacity .4s, visibility .4s;
    
    &__box{
        max-width: 703px;
        padding: 45px;
        z-index: 1;
        margin: 30px 15px;
        background-color: #2D5497;
        transform: scale(0);
        transition: transform .8s;
        border-radius: 10px;
        &_close{
            border: none;
            background-color: #2D5497;
            float: right;
            cursor: pointer;
        }
        &_title{
            @media(max-width: 426px){
                font-size: 35px;
            }
            display: flex;
            justify-content: center;
            font-size: 38px;
            font-weight: 450;
            color: #fff;
            font-family: "Inter", sans-serif;
        }
        &_input{
            @media(max-width: 426px){
                width: 90%;
            }
            display: grid;
            grid-template-columns: 1fr;
            gap: 40px;
            &_tel{
                @media(max-width: 426px){
                    width: 100%;
                    font-size: 16px;
                }
                margin-top: 50px;
                border: none;
                width: 589px;
                height: 50px;
                background-color: #fff;
                font-size: 20px;
                padding-left: 20px;
                border-radius: 90px;
            }
            &_email{
                @media(max-width: 426px){
                    width: 100%;
                    font-size: 16px;
                }
                border: none;
                width: 589px;
                height: 50px;
                background-color: #fff;
                font-size: 20px;
                padding-left: 20px;
                border-radius: 90px;
            }
            &_text{
                @media(max-width: 426px){
                    width: 100%;
                    margin: 0 auto;
                    font-size: 16px;
                }
                border: none;
                width: 589px;
                background-color: #fff;
                font-size: 20px;
                padding-left: 20px;
                border-radius: 20px;
                padding-top: 15px;
            }
        }
        &_btn{
            @media(max-width: 426px){
                width: 100%;
            }
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 30px;
            &_text{
                @media(max-width: 426px){
                    width: 100%;
                    padding: 20px;
                    font-size: 16px;
                }
                padding: 20px 150px;
                border: none;
                border-radius: 20px;
                background-color: #1E2B4E;
                color: #fff;
                font-size: 24px;
                font-weight: 400;
                font-family: "Inter", sans-serif;
                cursor: pointer;
            }

        }
    }
}
.modal.open{
    visibility: visible;
    opacity: 1;
}
.modal.open .modal__box{
    transform: scale(1);
}
.thx{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 99999;
    background-color: rgba(0,0,0,.3);
    display: grid;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    overflow-y: auto;
    opacity: 0;
    transition: opacity .4s, visibility .4s;
    &__box{ 
        max-width: 703px;
        padding: 45px;
        z-index: 1;
        margin: 30px 15px;
        background-color: #2D5497;
        transform: scale(0);
        transition: transform .8s;
        border-radius: 10px;
        &_close{
            border: none;
            background-color: #2D5497;
            float: right;
            cursor: pointer;
        }
        &_title{
            display: flex;
            justify-content: center;
            font-size: 38px;
            font-weight: 450;
            color: #fff;
            font-family: "Inter", sans-serif;
        }
    }
}
.thx.open{
    visibility: visible;
    opacity: 1;
}