* {
    margin: 0;
    padding: 0;
}

.BGI {
    background: url(../img/pic9\ 1.png) no-repeat center / cover;
    height: 980px;
}

.container {
    width: 1282px;
    margin: 0 auto;
    position: relative;
    @media(max-width: 426px){
        width: 400px;
    }
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.header {
    
    height: 74px;

    &__box {
        display: flex;
        align-items: center;
        border-bottom: 1px solid #fff;
    }

    &__nav {
        @media(max-width: 426px){
            display: none;
        }
        display: flex;
        

        &_text {
            display: flex;
            gap: 52px;
            margin-left: 29px;
            :hover{
                color: #0077ff;
                transition: 0.3s;
            }
        }

        &_text-btn {
            color: #fff;
        }

    }

    &__contact {
        @media(max-width: 426px){
            display: none;
        }
        display: flex;
        float: right;
        margin-left: 34.5%;
        color: #fff;
    }
    .burger { 
        &__menu { 
            display: none; 
            position: relative; 
            margin-top: 15px; 
            width: 80px; 
            height: 25px; 
            float: right;
            z-index: 1000;
     
            @media (max-width:426px) { 
                display: block;
                margin-left: 59%; 
                margin-top: -1%;
                width: 40px;
            } 
     
            &-items { 
                display: none; 
                position: absolute; 
                top: 50px; 
                right: 0; 
                background-color: #333; 
                border-radius: 4px; 
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
                width: 250px; 
                animation: fadeIn 0.3s ease; 
     
                &.open { 
                    display: block; 
                } 
     
                & a { 
                    display: block; 
                    color: #fff; 
                    text-decoration: none; 
                    padding: 10px 20px; 
                    text-align: center; 
                    transition: background-color 0.3s ease; 
     
                    &:hover { 
                        background-color: #555; 
                        border-radius: 4px; 
                    } 
                } 
            } 
        } 
     
        &__icon { 
            cursor: pointer; 
            padding: 10px; 
            width: 100%; 
            display: flex; 
            flex-direction: column; 
            justify-content: space-around; 
            border-radius: 10px; 
            transition: transform 0.3s ease; 
            &.open { 
                transform: rotate(90deg); 
     
                & .bar:nth-child(1)  { 
                    transform: translateY(10px) rotate(45deg); 
                } 
     
                & .bar:nth-child(2) { 
                    opacity: 0; 
                } 
     
                & .bar:nth-child(3) { 
                    transform: translateY(-10px) rotate(-45deg); 
                } 
            } 
             
        } 
    } 
     
    .bar { 
        width: 100%; 
        height: 4px; 
        margin-bottom: 5px; 
        background-color: #fff; 
        border-radius: 2px; 
        transition: transform 0.3s ease, opacity 0.3s ease; 
     
        &:last-child { 
            margin-bottom: 0; 
        } 
    } 
    @keyframes fadeIn { 
        from { 
            opacity: 0; 
            transform: translateY(-10px); 
        } 
        to { 
            opacity: 1; 
            transform: translateY(0); 
        } 
    }


}

.main {

    &__title {
        @media(max-width: 426px){
            font-size: 28px;
            width: 100%;
        }
        color: #fff;
        font-size: 48px;
        font-weight: 300;
        width: 653px;
        margin: 0 auto;
        font-family: "Rubik Mono One", monospace;
        text-align: center;
        margin-top: 144px;
    }

    &__slider::-webkit-scrollbar {
        display: none;
    }

    &__slider {
        
        width: 1040px;
        display: flex;
        gap: 16px;
        overflow-x: scroll;

        &_gallery {
            
            display: flex;
            gap: 16px;
            :hover{
                opacity: 0.7;
                transition: 0.3s;
                cursor: pointer;
            }
        }
    }

    &__controls {
        
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;

        #leftbtn,
        #rightbtn {
            @media(max-width: 426px){
                margin: 5px;
            }
            cursor: pointer;
            margin: 47px;
        }

        margin-top: 230px;
    }

    &__btn {
        :hover{
            background-color: #0077ff;
            transition: 0.5s;
        }
        &_text {
            padding: 13px 0;
            width: 291px;
            margin: 0 auto;
            border-radius: 10px;
            color: #fff;
            margin-top: 48px;
            background-color: #FD7452;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

.aboutcity {
    @media(max-width: 426px){
        height: 100%;
    }
    
    position: relative;
    background-color: #5984CD;
    height: 1456px;

    &__cardWrap {

        &_card1 {
            padding-top: 57px;
            

            &_opisanie {
                @media(max-width: 426px){
                    font-size: 26px;
                    background-color: #fff;
                    border-radius: 15px;
                }
                font-size: 36px;
                letter-spacing: 14%;
                color: #1E2B4E;
                font-family: "Rubik Mono One";
                display: flex;
                justify-content: center;

            }

            &_img {
                @media(max-width: 426px){
                    display: none;
                }
                position: absolute;
                margin-left: 20px;
                z-index: 0;
            }

            &_title {
                @media(max-width: 426px){
                    position: relative;
                    margin: 0;
                    margin-top: 130px;
                    font-size: 20px;
                    text-align: center;
                    
                }
                margin-top: 210px;
                margin-left: 520px;
                position: absolute;
                color: #1E2B4E;
                letter-spacing: 14%;
                font-size: 24px;
                font-family: "Rubik Mono One";
            }

            &_text1 {
                @media(max-width: 426px){
                    padding-top: 15px;
                    position: relative;
                    margin: 0;
                    margin-top: 30px;
                    background-color: #fff;
                    font-size: 12px;
                    width: 100%;
                    border-radius: 15px;
                    opacity: 0.9;
                    
                }
                width: 730px;
                height: 168px;
                font-size: 16px;
                letter-spacing: 14%;
                line-height: 150%;
                font-family: "Rubik Mono One";
                text-align: center;
                margin-top: 287px;
                margin-left: 520px;
                position: absolute;
                color: #1E2B4E;
            }

            &_text2 {
                @media(max-width: 426px){
                    padding-top: 15px;
                    position: relative;
                    margin: 0;
                    margin-top: 30px;
                    background-color: #fff;
                    font-size: 12px;
                    width: 100%;
                    border-radius: 15px;
                    opacity: 0.9;
                    
                }
                width: 630px;
                height: 100px;
                font-size: 16px;
                letter-spacing: 14%;
                line-height: 150%;
                font-family: "Rubik Mono One";
                text-align: center;
                margin-top: 528px;
                margin-left: 610px;
                position: absolute;
                color: #1E2B4E;
            }
        }

        &_card2 {
            @media(max-width: 426px){
                padding-bottom: 50px;
            }
            &_title {
                @media(max-width: 426px){
                    position: relative;
                    margin: 0;
                    margin-top: 70px;
                    font-size: 20px;
                    text-align: center;
                    
                }
                margin-top: 850px;
                margin-left: 90px;
                position: absolute;
                color: #1E2B4E;
                letter-spacing: 14%;
                font-size: 24px;
                font-family: "Rubik Mono One";
            }

            &_text {
                @media(max-width: 426px){
                    padding-top: 15px;
                    position: relative;
                    margin: 0;
                    margin-top: 30px;
                    background-color: #fff;
                    font-size: 12px;
                    width: 100%;
                    height: 100%;
                    border-radius: 15px;
                    opacity: 0.9;
                    
                }
                width: 623px;
                height: 168px;
                font-size: 16px;
                letter-spacing: 14%;
                line-height: 150%;
                font-family: "Rubik Mono One";
                text-align: center;
                margin-top: 950px;
                margin-left: 30px;
                position: absolute;
                color: #1E2B4E
            }

            &_img {
                @media(max-width: 426px){
                    display: none;
                }
                position: absolute;
                margin-left: 5px;
                z-index: 0;
                margin-top: 600px;
            }
        }
    }
}

.map {
    height: 100%;
    
    &__title {
        @media(max-width: 426px){
            font-size: 30px;
        }
        font-size: 36px;
        font-family: "Rubik Mono One";
        color: #1E2B4E;
        display: flex;
        justify-content: center;
        margin-top: 80px;
    }

    &__map-img {
        @media(max-width: 426px){
            margin-bottom: 20px;
        }
        margin-bottom: 80px;
        margin-top: 68px;
    }
}
.footer{
    @media(max-width: 426px){
        height: 100%;
        text-align: center;
    }
    height: 416px;
    background-color: #00244C;
    &__logo{
        margin-top: 23px;
    }
    &__wrap{
        @media(max-width: 426px){
            height: 120%;
            display: grid;
            grid-template-columns: 1fr ;
            gap: 30px;
            align-items: center;
            padding-bottom: 30px;
        }
        display: flex;
        align-items: baseline;
        
        &_firstCollum{
            
            &_title{
                @media(max-width: 426px){
                    font-size: 12px;
                }
                margin-top: 24px;
                font-family: "Inder", sans-serif;
                font-size: 16px;
                font-weight: 300;
                color: #fff;
            }
            &_text{
                @media(max-width: 426px){
                    font-size: 10px;
                    width: 100%;
                }
                font-family: "Inter", sans-serif;
                font-size: 13px;
                font-weight: 300;
                width: 315px;
                line-height: 20px;
                margin-top: 9px;
                color: #fff;
            }
        }
        
        &_collum{
            @media(max-width: 426px){
                margin-left: 0;
            }
            margin-left: 90px;
            
            &_title{
                font-family: "Inter", sans-serif;
                font-size: 16px;
                font-weight: 700;
                color: #fff;
            }
            &_text{
                @media(max-width: 426px){
                    margin-top: 15px;
                }
                opacity: 70%;
                font-family: "Inter", sans-serif;
                font-size: 16px;
                font-weight: 600;
                margin-top: 25px;
                color: #fff;

            }
            &_link{
                color: #fff;
            }

        }
        
    }
}