* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #5484DC;
}

.container {
  width: 1282px;
  margin: 0 auto;
  position: relative;
}
@media (max-width: 426px) {
  .container {
    width: 400px;
  }
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.header {
  height: 74px;
}
.header__box {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #fff;
}
.header__nav {
  display: flex;
}
@media (max-width: 426px) {
  .header__nav {
    display: none;
  }
}
.header__nav_text {
  display: flex;
  gap: 52px;
  margin-left: 29px;
}
.header__nav_text-btn {
  color: #fff;
}
.header__contact {
  display: flex;
  float: right;
  margin-left: 34.5%;
  color: #fff;
}
@media (max-width: 426px) {
  .header__contact {
    display: none;
  }
}
.header .burger__menu {
  display: none;
  position: relative;
  margin-top: 15px;
  width: 80px;
  height: 25px;
  float: right;
  z-index: 1000;
}
@media (max-width: 426px) {
  .header .burger__menu {
    display: block;
    margin-left: 59%;
    margin-top: -1%;
    width: 40px;
  }
}
.header .burger__menu-items {
  display: none;
  position: absolute;
  top: 50px;
  right: 0;
  background-color: #333;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 250px;
  animation: fadeIn 0.3s ease;
}
.header .burger__menu-items.open {
  display: block;
}
.header .burger__menu-items a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  text-align: center;
  transition: background-color 0.3s ease;
}
.header .burger__menu-items a:hover {
  background-color: #555;
  border-radius: 4px;
}
.header .burger__icon {
  cursor: pointer;
  padding: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 10px;
  transition: transform 0.3s ease;
}
.header .burger__icon.open {
  transform: rotate(90deg);
}
.header .burger__icon.open .bar:nth-child(1) {
  transform: translateY(10px) rotate(45deg);
}
.header .burger__icon.open .bar:nth-child(2) {
  opacity: 0;
}
.header .burger__icon.open .bar:nth-child(3) {
  transform: translateY(-10px) rotate(-45deg);
}
.header .bar {
  width: 100%;
  height: 4px;
  margin-bottom: 5px;
  background-color: #fff;
  border-radius: 2px;
  transition: transform 0.3s ease, opacity 0.3s ease;
}
.header .bar:last-child {
  margin-bottom: 0;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.main {
  height: 981px;
}
@media (max-width: 426px) {
  .main {
    height: 100%;
  }
}
@media (max-width: 426px) {
  .main_wrap {
    display: flex;
    flex-direction: column;
  }
}
.main__title {
  display: flex;
  justify-content: center;
  font-size: 36px;
  font-family: "Rubik Mono One";
  letter-spacing: 14%;
  margin-top: 13px;
  color: #fff;
}
.main__box {
  margin-top: 34px;
}
@media (max-width: 426px) {
  .main__box_wrap {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 426px) {
  .main__box_img {
    width: 90%;
    margin: 0 auto;
  }
}
.main__box_contact {
  margin-left: 97px;
}
@media (max-width: 426px) {
  .main__box_contact {
    width: 90%;
    margin: 0;
    margin: 0 auto;
    margin-top: 40px;
  }
}
.main__box_contact_text {
  display: flex;
  margin-bottom: 20px;
}
.main__box_contact_text_num {
  display: flex;
  align-items: center;
  margin-left: 12px;
  color: #fff;
  font-size: 20px;
  font-family: "Inter", sans-serif;
  font-weight: 450;
}
.main__box_contact_btn {
  margin-top: 70px;
}
@media (max-width: 426px) {
  .main__box_contact_btn {
    width: 100%;
    margin: 0;
    margin: 0 auto;
    margin-top: 70px;
  }
}
.main__box_contact_btn_text {
  padding: 16px 50px;
  background-color: #fff;
  border-radius: 20px;
  color: #1E2B4E;
  align-items: center;
  font-size: 20px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  border: none;
  cursor: pointer;
}
@media (max-width: 426px) {
  .main__box_contact_btn_text {
    width: 100%;
    margin: 0;
    margin: 0 auto;
    margin-bottom: 50px;
    margin-top: 70px;
  }
}
.main__box_map {
  margin-left: 36%;
  margin-top: -5%;
}
@media (max-width: 426px) {
  .main__box_map {
    display: none;
  }
}
.main__box_wrap {
  display: flex;
}

.footer {
  margin-top: 45px;
  height: 416px;
  background-color: #00244C;
}
@media (max-width: 426px) {
  .footer {
    height: 100%;
    text-align: center;
  }
}
.footer__logo {
  margin-top: 23px;
}
.footer__wrap {
  display: flex;
  align-items: baseline;
}
@media (max-width: 426px) {
  .footer__wrap {
    height: 120%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    align-items: center;
    padding-bottom: 30px;
  }
}
.footer__wrap_firstCollum_title {
  margin-top: 24px;
  font-family: "Inder", sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #fff;
}
@media (max-width: 426px) {
  .footer__wrap_firstCollum_title {
    font-size: 12px;
  }
}
.footer__wrap_firstCollum_text {
  font-family: "Inter", sans-serif;
  font-size: 13px;
  font-weight: 300;
  width: 315px;
  line-height: 20px;
  margin-top: 9px;
  color: #fff;
}
@media (max-width: 426px) {
  .footer__wrap_firstCollum_text {
    font-size: 10px;
    width: 100%;
  }
}
.footer__wrap_collum {
  margin-left: 90px;
}
@media (max-width: 426px) {
  .footer__wrap_collum {
    margin-left: 0;
  }
}
.footer__wrap_collum_title {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
}
.footer__wrap_collum_text {
  opacity: 70%;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin-top: 25px;
  color: #fff;
}
@media (max-width: 426px) {
  .footer__wrap_collum_text {
    margin-top: 15px;
  }
}
.footer__wrap_collum_link {
  color: #fff;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 99999;
  background-color: rgba(0, 0, 0, 0.3);
  display: grid;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.4s, visibility 0.4s;
}
.modal__box {
  max-width: 703px;
  padding: 45px;
  z-index: 1;
  margin: 30px 15px;
  background-color: #2D5497;
  transform: scale(0);
  transition: transform 0.8s;
  border-radius: 10px;
}
.modal__box_close {
  border: none;
  background-color: #2D5497;
  float: right;
  cursor: pointer;
}
.modal__box_title {
  display: flex;
  justify-content: center;
  font-size: 38px;
  font-weight: 450;
  color: #fff;
  font-family: "Inter", sans-serif;
}
@media (max-width: 426px) {
  .modal__box_title {
    font-size: 35px;
  }
}
.modal__box_input {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
}
@media (max-width: 426px) {
  .modal__box_input {
    width: 90%;
  }
}
.modal__box_input_tel {
  margin-top: 50px;
  border: none;
  width: 589px;
  height: 50px;
  background-color: #fff;
  font-size: 20px;
  padding-left: 20px;
  border-radius: 90px;
}
@media (max-width: 426px) {
  .modal__box_input_tel {
    width: 100%;
    font-size: 16px;
  }
}
.modal__box_input_email {
  border: none;
  width: 589px;
  height: 50px;
  background-color: #fff;
  font-size: 20px;
  padding-left: 20px;
  border-radius: 90px;
}
@media (max-width: 426px) {
  .modal__box_input_email {
    width: 100%;
    font-size: 16px;
  }
}
.modal__box_input_text {
  border: none;
  width: 589px;
  background-color: #fff;
  font-size: 20px;
  padding-left: 20px;
  border-radius: 20px;
  padding-top: 15px;
}
@media (max-width: 426px) {
  .modal__box_input_text {
    width: 100%;
    margin: 0 auto;
    font-size: 16px;
  }
}
.modal__box_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}
@media (max-width: 426px) {
  .modal__box_btn {
    width: 100%;
  }
}
.modal__box_btn_text {
  padding: 20px 150px;
  border: none;
  border-radius: 20px;
  background-color: #1E2B4E;
  color: #fff;
  font-size: 24px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  cursor: pointer;
}
@media (max-width: 426px) {
  .modal__box_btn_text {
    width: 100%;
    padding: 20px;
    font-size: 16px;
  }
}

.modal.open {
  visibility: visible;
  opacity: 1;
}

.modal.open .modal__box {
  transform: scale(1);
}

.thx {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 99999;
  background-color: rgba(0, 0, 0, 0.3);
  display: grid;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  overflow-y: auto;
  opacity: 0;
  transition: opacity 0.4s, visibility 0.4s;
}
.thx__box {
  max-width: 703px;
  padding: 45px;
  z-index: 1;
  margin: 30px 15px;
  background-color: #2D5497;
  transform: scale(0);
  transition: transform 0.8s;
  border-radius: 10px;
}
.thx__box_close {
  border: none;
  background-color: #2D5497;
  float: right;
  cursor: pointer;
}
.thx__box_title {
  display: flex;
  justify-content: center;
  font-size: 38px;
  font-weight: 450;
  color: #fff;
  font-family: "Inter", sans-serif;
}

.thx.open {
  visibility: visible;
  opacity: 1;
}